/*==================================================
    TIME CERAMICS
    STYLE.CSS
==================================================*/

/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Outfit',sans-serif;
    background:#f5f5f5;
    color:#222;
}

/* LINKS */

a{
    text-decoration:none;
    color:inherit;
}

/* IMÁGENES */

img{
    display:block;
    width:100%;
}

/* LISTAS */

ul{
    list-style:none;
}

/*==================================================
    HOME
==================================================*/

.topbar{

    position:sticky;
    top:0;

    display:grid;
    grid-template-columns:auto 1fr auto;

    align-items:center;

    padding:22px 60px;

    background:#111;

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:1000;

}



/*==================================================
    HERO
==================================================*/

.hero{

    height:340px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("images/TW6012C0652_LAURENT GOLD 3D.jpg");

    background-size:cover;

    background-position:center;

    color:white;

}

.hero h2{

    font-size:52px;

    font-weight:300;

    letter-spacing:6px;

    margin-bottom:18px;

}

.hero p{

    max-width:750px;

    font-size:18px;

    line-height:1.8;

    opacity:.9;

}

/*==================================================
    GALERÍA
==================================================*/

.galeria{

    max-width:1600px;

    margin:60px auto;

    padding:0 40px;

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));

    gap:30px;

}

.card{

    background:#fff;

    border-radius:10px;

    overflow:hidden;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.card img{

    height:260px;

    object-fit:cover;

    transition:.35s;

}

.card:hover img{

    transform:scale(1.04);

}

.card h3{

    padding:22px;

    text-align:center;

    font-size:22px;

    font-weight:400;

}

/*==================================================
    PRODUCTO
==================================================*/

.producto-page{

    background:#0b0b0b;

    color:#ffffff;

    font-family:'Outfit',sans-serif;

}

.producto-luxury{

    max-width:1400px;

    margin:auto;

    padding:60px 50px 100px;

}


.volver{

    color:#bcbcbc;

    transition:.3s;

}

.volver:hover{

    color:white;

}

.breadcrumb{

    color:#7d7d7d;

    font-size:13px;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:25px;

}

.titulo-producto{

    color:white;

    font-size:80px;

    font-weight:200;

    line-height:1;

    margin-bottom:40px;

}

/*==================================================
    IMAGEN PRINCIPAL
==================================================*/

.hero-producto{

    margin-bottom:35px;

}

.imagen-principal{

    width:100%;

    max-height:820px;

    object-fit:cover;

    border-radius:8px;

}

.miniaturas{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    margin:30px 0 50px;

}

.miniatura{

    width:140px;

    height:100px;

    object-fit:cover;

    border-radius:6px;

    border:1px solid rgba(255,255,255,.15);

    cursor:pointer;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.35);

}

.miniatura:hover{

    border-color:white;

    transform:translateY(-4px);

}

/*==================================================
    BOTONES
==================================================*/

.acciones{

    display:flex;

    gap:18px;

    flex-wrap:wrap;

    margin-bottom:70px;

}

.btn-outline{

    padding:15px 26px;

    color:white;

    border:1px solid rgba(255,255,255,.2);

    background:transparent;

    transition:.3s;

    text-transform:uppercase;

    letter-spacing:1px;

}

.btn-outline:hover{

    background:white;

    color:black;

}

/*==================================================
    CONTENIDO
==================================================*/

.contenido-producto{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:start;

}

.col-video video{

    width:100%;

    max-width:500px;

    border-radius:8px;

    background:#111;

}

.col-info{

    display:flex;

    flex-direction:column;

    gap:40px;

}

.bloque-info h3{

    color:#bfbfbf;

    font-size:14px;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:15px;

}

.bloque-info p{

    color:#f0f0f0;

    font-size:20px;

    line-height:1.9;

}

#formatos{

    display:flex;

    gap:40px;

    flex-wrap:wrap;

    list-style:none;

    padding:0;

}

.formato-figura{

    width:70px;

    border:1px solid #fff;

    margin-bottom:15px;

}

.formato-card p{

    color:white;

    font-size:18px;

    letter-spacing:1px;

}

#formatos li{

    color:#f0f0f0;

    padding:12px 0;

    border-bottom:1px solid rgba(255,255,255,.08);

}

.footer{

    margin-top:120px;

    background:#070707;

    border-top:1px solid rgba(255,255,255,.08);

    padding:70px 60px 30px;

}

.footer-container{

    max-width:1400px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:70px;

    align-items:start;

}

.footer-col h2{

    color:#ffffff;

    font-size:48px;

    font-weight:200;

    letter-spacing:4px;

    margin-bottom:18px;

}

.footer-col h3{

    color:#bcbcbc;

    font-size:15px;

    font-weight:500;

    letter-spacing:3px;

    margin-bottom:22px;

}

.footer-col p{

    color:#9a9a9a;

    font-size:16px;

    line-height:2;

}

.footer a{

    color:#9f9f9f;

    text-decoration:none;

    line-height:2;

    transition:.3s;

}

.footer a:hover{

    color:white;

}

.footer-copy{

    margin-top:50px;

    padding-top:25px;

    border-top:1px solid rgba(255,255,255,.08);

    text-align:center;

    color:#777;

    font-size:14px;

}

@media (max-width:900px){

    .footer-container{

        grid-template-columns:1fr;

        gap:40px;

    }

}

/*=========================================
    RECORRIDO VIRTUAL
=========================================*/

.tour360{

    margin-top:40px;

}

.tour360 h3{

    color:#bfbfbf;

    font-size:14px;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:20px;

}

#tour360{

    width:100%;

    height:550px;

    border:none;

    border-radius:8px;

    background:#111;

}


.footer-col a{

    display:flex;

    align-items:center;

    gap:12px;

    color:#9f9f9f;

    margin-top:14px;

    transition:.3s;

}

.footer-col a:hover{

    color:#ffffff;

    transform:translateX(6px);

}

.footer-col i{

    width:20px;

    font-size:18px;

}

/*==========================
LOGO
==========================*/

.logo{

    color:white;

    font-size:28px;

    font-weight:300;

    letter-spacing:5px;

}

/*==========================
MENU
==========================*/

.menu{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:40px;

}

.menu a{

    color:#bdbdbd;

    font-size:15px;

    letter-spacing:1px;

    transition:.3s;

}

.menu a:hover{

    color:white;

}

.menu .activo{

    color:white;

}

/*==========================
BUSCADOR
==========================*/

.buscador{

    display:flex;

    align-items:center;

    gap:12px;

    background:#1b1b1b;

    padding:12px 18px;

    border-radius:40px;

}

.buscador i{

    color:#888;

}

.buscador input{

    background:transparent;

    border:none;

    outline:none;

    color:white;

    width:220px;

    font-family:'Outfit',sans-serif;

    font-size:15px;

}

.buscador input::placeholder{

    color:#888;

}

/*====================================
CATALOGS
====================================*/

.hero-catalogos{

    height:280px;

    background:#111;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:rgb(254, 254, 254);

}

.hero-catalogos h1{

    font-size:60px;

    font-weight:200;

    letter-spacing:6px;

    margin-bottom:20px;

}

.hero-catalogos p{

    max-width:700px;

    color:#5f5f5f;

    font-size:18px;

}

.catalogos-grid{

    max-width:1400px;

    margin:80px auto;

    padding:0 40px;

}

.catalogo-card{

    display:grid;

    grid-template-columns:520px 1fr;

    align-items:center;

    gap:80px;

    padding:70px;

    border-radius:18px;

    background:white;

    overflow:hidden;

}
.catalogo-card:hover{

    transform:translateY(-8px);

}

.catalogo-card img{

    height:380px;

    object-fit:cover;

}

.catalogo-info{

    padding:40px;

}

.catalogo-info h2{

    font-size:36px;

    font-weight:300;

    margin-bottom:15px;

}

.catalogo-info p{

    color:#666;

    line-height:1.8;

    margin-bottom:30px;

}

.catalogo-botones{

    display:flex;

    gap:20px;

}

.catalogo-mockup{

    position:relative;

    height:650px;

    display:flex;

    justify-content:center;

    align-items:center;

    perspective:1800px;

}

.catalogo-portada{

    position:relative;

    width:310px;

    z-index:5;

    border-radius:10px;

    transform:

        rotateY(-24deg)

        rotateZ(-2deg)

        translateY(-10px);

    box-shadow:

        0 45px 90px rgba(0,0,0,.45),

        0 20px 30px rgba(0,0,0,.25);

    transition:.5s;

}

.catalogo-card:hover .catalogo-portada{

    transform:

        rotateY(-12deg)

        rotateZ(0deg)

        translateY(-25px)

        scale(1.03);

}

.catalogo-shadow{

    position:absolute;

    width:280px;

    height:40px;

    background:rgba(0,0,0,.45);

    border-radius:50%;

    filter:blur(18px);

    bottom:70px;

}

.catalogo-etiqueta{

    display:inline-block;

    color:#9a9a9a;

    letter-spacing:3px;

    font-size:13px;

    margin-bottom:20px;

}

.catalogo-info h2{

    font-size:52px;

    font-weight:200;

    margin-bottom:25px;

}

.catalogo-info p{

    font-size:19px;

    line-height:1.9;

    color:#666;

    max-width:620px;

}


.marble-base{

    position:absolute;

    width:430px;

    height:520px;

    border-radius:22px;

    background:

        linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),

        url("images/black_marble.jpg");

    background-size:cover;

    background-position:center;

    box-shadow:

        inset 0 0 120px rgba(255,255,255,.08),

        0 40px 80px rgba(0,0,0,.30);

}


.catalogo-botones{

    display:flex;
    gap:18px;
    margin-top:35px;

}

.catalogo-botones .btn-outline{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:15px 34px;

    border:1px solid #111;

    color:#111;

    letter-spacing:2px;

    font-size:13px;

    transition:.35s;

}

.catalogo-botones .btn-outline:hover{

    background:#111;

    color:#fff;

    transform:translateY(-2px);

}


/*====================================
APPLICATIONS
====================================*/

.applications{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;

}

.app-item{

    display:flex;
    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:14px;

    padding:24px 18px;

    border:1px solid rgba(255,255,255,.08);

    border-radius:10px;

    transition:.35s;

}

.app-item:hover{

    transform:translateY(-5px);

    border-color:#c8a96b;

    background:rgba(255,255,255,.02);

}

.app-item i{

    font-size:30px;

    color:#c8a96b;

}

.app-item span{

    color:#d9d9d9;

    font-size:15px;

    text-align:center;

}



/*====================================
ABOUT US - HERO
====================================*/

.hero-about{

    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.55)),
    url("images/about-hero.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

}

.hero-about-content{

    max-width:900px;
    padding:40px;

}

.hero-label{

    display:inline-block;

    letter-spacing:4px;

    color:#c8c8c8;

    font-size:14px;

    margin-bottom:20px;

}

.hero-about h1{

    font-size:82px;

    font-weight:200;

    letter-spacing:8px;

    margin-bottom:20px;

}

.hero-about h2{

    font-size:38px;

    font-weight:300;

    line-height:1.4;

    margin-bottom:30px;

}

.hero-about p{

    font-size:20px;

    line-height:1.9;

    color:#dddddd;

    max-width:700px;

    margin:auto auto 45px;

}


.about-story{

    max-width:1400px;
    margin:180px auto;
    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:90px;
    align-items:center;

}

.story-image img{

    width:100%;
    display:block;
    border-radius:4px;

}

.story-content{

    color:white;

}

.section-tag{

    letter-spacing:5px;
    font-size:.75rem;
    color:#bca36d;

}

.story-content h2{

    font-size:3rem;
    font-weight:300;
    margin:20px 0 35px;

}

.story-content p{

    color:#bcbcbc;
    line-height:2;
    font-size:1.05rem;
    margin-bottom:25px;

}


/*==========================
MISSION & VISION
==========================*/

.mission-section{

    max-width:1400px;
    margin:140px auto;
    padding:0 8%;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:70px;

}

.mission-card{

    border-top:1px solid rgba(255,255,255,.15);

    padding-top:40px;

}

.small-title{

    color:#c8a76b;

    letter-spacing:4px;

    font-size:12px;

    text-transform:uppercase;

}

.mission-card h2{

    font-size:48px;

    font-weight:300;

    margin:18px 0 30px;

    color:white;

}

.mission-card p{

    color:#b8b8b8;

    font-size:19px;

    line-height:2;

    max-width:520px;

}

/*==========================
WHY CHOOSE US
==========================*/

.why-section{

    max-width:1400px;

    margin:160px auto;

    padding:0 8%;

}

.section-title{

    text-align:center;

    margin-bottom:80px;

}

.section-title span{

    color:#c8a76b;

    letter-spacing:4px;

    text-transform:uppercase;

    font-size:12px;

}

.section-title h2{

    font-size:62px;

    font-weight:300;

    margin-top:20px;

    color:white;

}

.why-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:35px;

}

.why-card{

    background:#3b3b3b;

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:45px 35px;

    transition:.35s;

}

.why-card:hover{

    transform:translateY(-10px);

    border-color:#c8a76b;

}

.why-card i{

    font-size:42px;

    color:#fff;

    margin-bottom:25px;

}

.why-card h3{

    color:white;

    font-size:26px;

    font-weight:400;

    margin-bottom:18px;

}

.why-card p{

    color:#ffffff;

    line-height:1.9;

    font-size:17px;

}


/*==============================
COMPANY IN NUMBERS
==============================*/

.stats-section{

    max-width:1500px;

    margin:180px auto;

    padding:0 8%;

    text-align:center;

}

.stats-header span{

    color:#c8a76b;

    letter-spacing:4px;

    text-transform:uppercase;

    font-size:12px;

}

.stats-header h2{

    font-size:64px;

    font-weight:300;

    color:white;

    margin:20px 0 90px;

}

.stats-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:40px;

}

.stat-card{

    padding:50px 20px;

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    background:#111;

    transition:.35s;

}

.stat-card:hover{

    transform:translateY(-10px);

    border-color:#c8a76b;

}

.stat-card h3{

    font-size:78px;

    font-weight:300;

    color:#c8a76b;

    margin-bottom:15px;

}

.stat-card p{

    color:#bfbfbf;

    font-size:18px;

    letter-spacing:1px;

}


/*=========================
DESIGN GALLERY
=========================*/

.gallery-about{

    max-width:1500px;
    margin:140px auto;
    padding:0 60px;

}

.gallery-masonry{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    grid-auto-rows:280px;

    gap:22px;

}

.gallery-item{

    position:relative;

    overflow:hidden;

    border-radius:12px;

    cursor:pointer;

}

.gallery-item.large{

    grid-row:span 2;

}

.gallery-item.wide{

    grid-column:span 2;

}

.gallery-item img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.6s;

}

.gallery-item:hover img{

    transform:scale(1.08);

}

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,.65)
    );

    display:flex;

    align-items:flex-end;

    padding:30px;

    opacity:0;

    transition:.35s;

}

.gallery-item:hover .overlay{

    opacity:1;

}

.overlay h3{

    color:white;

    font-size:26px;

    font-weight:300;

    letter-spacing:2px;

}




.manufacturing{

    padding:120px 8%;
    background:#0b0b0b;

}

.section-title{

    text-align:center;
    max-width:850px;
    margin:auto auto 70px;

}

.section-title span{

    color:#b89c5d;
    letter-spacing:4px;
    font-size:13px;
    text-transform:uppercase;

}

.section-title h2{

    color:white;
    font-size:56px;
    font-weight:300;
    margin:18px 0;

}

.section-title p{

    color:#bdbdbd;
    line-height:1.9;
    font-size:18px;

}

.manufacturing-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.process-card{

    background:#111;
    overflow:hidden;
    border-radius:8px;
    transition:.4s;

}

.process-card img{

    width:100%;
    height:420px;
    object-fit:cover;
    transition:.5s;

}

.process-card:hover img{

    transform:scale(1.05);

}

.process-info{

    padding:28px;

}

.process-info h3{

    color:white;
    margin-bottom:12px;

}

.process-info p{

    color:#999;
    line-height:1.8;

}

.process-card:hover{

    transform:translateY(-8px);

}


.certifications{

    padding:120px 8%;
    background:#050505;

}

.certifications-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    max-width:900px;
    margin:70px auto 0;

}

.cert-card{

    background:#111;
    border:1px solid #202020;
    border-radius:10px;

    padding:45px;

    text-align:center;

    transition:.4s;

}

.cert-card img{

    width:90px;

    display:block;

    margin:0 auto 30px;

}

.cert-card h3{

    color:white;
    font-size:28px;
    font-weight:400;

}

.cert-card p{

    color:#999;
    margin-top:18px;
    line-height:1.8;

}

.cert-card:hover{

    transform:translateY(-8px);

    border-color:#b89c5d;

    box-shadow:0 20px 50px rgba(0,0,0,.45);

}



/*=========================================
ABOUT HOME
=========================================*/

.about-home{

    padding:120px 0;

    background:#ffffff;

}

.about-home .container{

    max-width:1000px;

    margin:auto;

    text-align:center;

    padding:0 40px;

}

.about-home h2{

    font-size:52px;

    font-weight:300;

    letter-spacing:2px;

    margin-bottom:30px;

    color:#111;

}

.about-home p{

    font-size:21px;

    line-height:2;

    color:#666;

    max-width:900px;

    margin:auto;

}


/*=========================================
COLLECTIONS
=========================================*/

.collections-home{

    padding:120px 40px;

    background:#f7f7f7;

}

.collections-home h2{

    font-size:44px;

    font-weight:300;

    text-align:center;

    margin-bottom:60px;

}

#collectionsGrid{

    max-width:1500px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:40px;

}



/*=========================================
COLLECTION CARD
=========================================*/

.collection-card{

    background:#fff;

    overflow:hidden;

    border-radius:16px;

    transition:.4s;

    cursor:pointer;

    box-shadow:0 20px 45px rgba(0,0,0,.08);

}

.collection-card:hover{

    transform:translateY(-10px);

    box-shadow:0 30px 60px rgba(0,0,0,.15);

}

.collection-card img{

    width:100%;

    height:420px;

    object-fit:cover;

    transition:.5s;

}

.collection-card:hover img{

    transform:scale(1.04);

}

.collection-content{

    padding:35px;

}

.collection-content h3{

    font-size:34px;

    font-weight:300;

    margin-bottom:15px;

}

.collection-content p{

    color:#666;

    line-height:1.8;

    font-size:18px;

}






/*=========================================
FINISHES
=========================================*/

.finishes-home {
    background: #171717;
    padding: 90px 40px 110px;
}

.cards-grid{

    display:grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap:20px;

}

.finishes-home h2 {
    color: #fff;
}
.finishes-home .section-description {
    color: #aaa;
}
.section-description{

    color:#b9b9b9;
    margin-bottom:45px;

}

.finish-card {
    position: relative;
    height: 340px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.finish-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.finish-card:hover img{

    transform:scale(1.08);

}

.finish-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 25px 22px;

    background: linear-gradient(
        transparent,
        rgba(0,0,0,0.75)
    );

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.finish-overlay h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.finish-overlay p {
    margin: 5px 0 0;
    font-size: 13px;
    opacity: 0.75;
}

.finish-overlay i {
    font-size: 16px;
}

.finish-card:hover{

    transform:translateY(-8px);

    box-shadow:0 25px 50px rgba(0,0,0,.18);

}

.finish-card:hover i{

    transform:translateX(6px);

}




